# Discord server info
DISCORD_TOKEN=
SERVER_ID=
# Channels for scheduled posts
ANNOUNCE_CHANNEL= # e.g. #fzd-events
ENGAGE_CHANNEL= # e.g. #f-sero99-racetrack
VALIDATION_CHANNEL= 3 e.g. #playground

# Enable testing mode if TEST_FLAG=1
TEST_FLAG=0

# Database connection
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
