# Discord server info
DISCORD_TOKEN=
SERVER_ID=
# Channels for scheduled posts
ANNOUNCE_CHANNEL= # e.g. #fzd-events
ENGAGE_CHANNEL= # e.g. #f-zero99-racetrack
VALIDATION_CHANNEL= # e.g. #playground
RROR_ALERT_CHANNEL_ID= # e.g. #system-stuff

# Enable testing mode if TEST_FLAG=1
TEST_FLAG=0

# Database connection
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
